/* === Base Styles === */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sb-width: 102px;
}

:root.sb-expanded {
    --sb-width: 284px;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    font-family: var(--font-family-base);
}

main {
    margin-left: var(--sb-width-collapsed);
    padding: 1rem 2rem;
    animation: pageFade 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}


@keyframes pageFade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

p {
    line-height: 1.5;
}

.page-title {
    font-size: 32px;
    margin-bottom: 8px;
    color: var(--text-color);
}

.page-subtitle {
    color: var(--text-color);
    opacity: 0.7;
    font-size: 14px;
    margin-bottom: 48px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color);
}