/* === Reset & Variabler === */

:root {
    /* Dark Mode Colors (som er default) */
    --background-color: #001B2E;
    --card-background: #001724;
    --text-color: #F0F0F0;
    --border-color: #193142;
    --accent-color: #00FFBB;
}