:root {
    /* Light Mode Colors */
    --background-color-light: #F8FAFC;
    --text-color-light: #0F172A;
    --primary-color-light: #00875A;
    --secondary-color-light: #475569;
    --accent-color-light: #1da87c;
    --border-color-light: #CBD5E1;
    --card-background-light: #FFFFFF;
    --hover-background-light: #F1F5F9;
    --link-color-light: #249c76;
    --active-color-light: #21a47f;
  
    /* Dark Mode Colors */
    --background-color-dark: #001B2E;
    --text-color-dark: #F0F0F0;
    --primary-color-dark: #4a90e2;
    --secondary-color-dark: #B3393C;
    --accent-color-dark: #03FFB2;
    --border-color-dark: #193142;
    --card-background-dark: #001724;
    --hover-background-dark: #0A2637;
    --link-color-dark: #03FFB2;
    --active-color-dark: #03F7AD;
  
    /* Shared Colors */
    --success-color: #28a745;
    --warning-color: #ffc107;
    --error-color: #dc3545;
    --info-color: #17a2b8;
}

/* Light Mode */
.light-mode {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);
    --accent-color: var(--accent-color-light);
    --border-color: var(--border-color-light);
    --card-background: var(--card-background-light);
    --hover-background: var(--hover-background-light);
    --link-color: var(--link-color-light);
    --active-color: var(--active-color-light);
}

/* Dark Mode */
.dark-mode {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --accent-color: var(--accent-color-dark);
    --border-color: var(--border-color-dark);
    --card-background: var(--card-background-dark);
    --hover-background: var(--hover-background-dark);
    --link-color: var(--link-color-dark);
    --active-color: var(--active-color-dark);
}